:root {
  --first-color: #ebebe3;
  --second-color: #2b2b28;
  --third-color: #4a4a48;
  --fourth-color: #c19898;
}

.Meaning {
  border: 1px solid var(--fourth-color);
  border-radius: 5px;
  background-color: var(--third-color);
  margin: 10px;
  padding:10px;
}

.PartOfSpeech {
  text-decoration: underline;
  font-size: 25px;
}