:root {
  --first-color: #ebebe3;
  --second-color: #2b2b28;
  --third-color: #4a4a48;
  --fourth-color: #c19898;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: var(--fourth-color);
  
}
input {
  text-align: center;
  width: 30%;
  padding: 10px;
  background-color: var(--first-color);
  border: 1px solid var(--second-color);
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 20%);
}
